@{
    ViewData["Title"] = "Home Page";
}

<h1>Sohbet</h1>
<form id="frmMesaj" action="/" method="post">

    <input id="txtMesaj" type="text" name="name" placeholder="mesaj" value="" />
    <button type="submit">Gönder</button>
</form>
<ul id="mesajlar">
</ul>
@section Scripts {
    <script>
        const ul = document.getElementById("mesajlar");
        const txtMesaj = document.getElementById("txtMesaj");
        const frmMesaj = document.getElementById("frmMesaj");
        const kullanici = prompt("Kullanıcı adınızı giriniz");
        const renk = `rgba(${r()},${r()},${r()}, 0.75)`;

        function r() {
            return Math.floor(Math.random() * 255);
        }

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();

        connection.on("mesajal", function (kullanici, mesaj) {
            let li = document.createElement("li");
            li.textContent = `${kullanici} : ${mesaj}`;
            ul.prepend(li);
        });
        frmMesaj.onsubmit = function (e) {
            console.log(e.clientX, e.clientY);
            e.preventDefault();
            connection.invoke("MesajGonder", kullanici, txtMesaj.value).catch(function (err) { console.log(err) });
            txtMesaj.value = "";
        };

        window.onmousemove = function (e) {
            connection.invoke("KonumGonder", e.clientX, e.clientY).catch(function (err) { console.log(err) });
        };
        connection.on("KonumAlindi", function (baglantiId,kullanici, x, y) {
            let kutu = document.createElement(baglantiId);
            if (!kutu) {
                kutu = document.createElement("div");
                document.body.append(kutu);
                kutu.id = baglantiId;
                kutu.className = "kutu";
            }
            kutu.style.backgroundColor = renk;
            kutu.style.left = x + "px";
            kutu.style.top = y + "px";
            let li = document.createElement("li");
            li.textContent = `${kullanici} : ${x} - ${y}`;
            li.style.color = renk;
            ul.prepend(li);
        });
        connection.start().then(function () {
            console.log("bağlantı kuruldu");
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}
